@import "site/css/shared", "site/css/colors", "site/css/header", "site/css/footer";

// body, html {
//     background-color: nth($colors, 2);
// }

#about {
    color: #ccc;
    font-size: 60px;
}

.content {
    text-align: center;
}
