
.parent-container {
    position: absolute;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.container {
    position: absolute;

    pointer-events: none;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    will-change: transform;
}

.orbit-container {
    transition: linear opacity 0.3s;
}

.footer-wrapper {
    position: absolute;

    width: 100vw;
    bottom: 0;
}
