
.container {
    position: absolute;

    pointer-events: none;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.footer-wrapper {
    position: absolute;

    width: 100vw;
    bottom: 0;
}
