
$sun-x: 13;
$sun-y: 13;

$orbit-w: 4px;

// index radius r θ font-size
$circles:
    1  10  0   0  4,   // Home
    2   5  28  45 2.5, // About
    3   4  46  60 2.3, // Blog
    4   6  65  80 2.8, // Projects
    5   8  80  20 3,   // Animations
    6   5  100 45 2.2; // Models

$circle-expand: 1.3;
