@import "colors";

@font-face { font-family: Walkway; src: url("/Walkway.ttf"); }


body, html {
    font-family: Walkway;
    background-color: #000;
    color: #fff;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrap {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    justify-content: space-between;
}

.content {
    margin: 20px;
}


.text-info {
    color: #17a2b8;
}
.text-success {
    color: #28a745;
}
.text-warning {
    color: #ffc107;
}
.text-danger {
    color: #dc3545;
}
.text-secondary {
    color: #6c757d;
}

